div(style="height: 135px; width: 253px; position: relative;")
    <svg class="cls-1" xmlns="http://www.w3.org/2000/svg" width="84" height="99.656" viewBox="0 0 84 99.656">
      <defs>
        <style>.cls-1{text x="30"; y="90";fill:#ffc815;fill-rule:evenodd}</style>
      </defs>
    <path class="cls-1" d="M-.012 99.65A125.713 125.713 0 0 1 49.164.01l34.842 42.35C65.348 57 55.578 74.306 55.578 99.65H-.012z"/>
    </svg>

    <svg class="cls-2" xmlns="http://www.w3.org/2000/svg" width="145.813" height="66.031" viewBox="0 0 145.813 66.031">
      <defs>
        <style>.cls-2{fill:#a3cd3b;fill-rule:evenodd}
        </style>
      </defs>
    <path class="cls-2" d="M0 22.992a127.058 127.058 0 0 1 145.816 0l-34.518 43.04c-14.684-9.918-26.3-12.2-38.387-12.2-12.055 0-26.187 4.357-38.35 12.2z"/>
    </svg>

    <svg class="cls-3" xmlns="http://www.w3.org/2000/svg" width="81.468" height="99.656" viewBox="0 0 81.468 99.656">
    <defs>
    <style>.cls-3{fill:#0093d7;fill-rule:evenodd}</style>
    </defs>
    <path class="cls-3" d="M33.685.01a126.875 126.875 0 0 1 47.792 99.64H27.49c0-25.343-10.4-43.4-27.486-57.29z"/>
    </svg>
    .cls-5
      <svg class="cls-4" xmlns="http://www.w3.org/2000/svg" width="55.375" height="39" viewBox="0 0 55.375 39">
        <defs>
        <style>.cls-4{fill:#3e3d40;fill-rule:evenodd}
        </style>
        </defs>
      <path class="cls-4" d="M53.813 34.858a9.154 9.154 0 0 1-12.79 2.58L-.01 0l51.312 21.9a9.428 9.428 0 0 1 2.51 12.954z"/>
      </svg>
